version: '3.8'

services:
  alert-service:
    build: .
    container_name: alert-service
    environment:
      - MQTT_BROKER=client-mosquitto
      - MQTT_PORT=1883
      - SIMULATOR_BROKER=stadium-mosquitto
      - SIMULATOR_PORT=1883
      - SIMULATOR_TOPIC=stadium/events/alerts
      - CLIENT_TOPIC_PREFIX=alerts/client
    networks:
      - alert-network
      - stadium_network
      - client_network
    restart: unless-stopped
    external_links:
      - stadium-mosquitto:stadium-mosquitto
      - client-mosquitto:client-mosquitto

networks:
  alert-network:
    driver: bridge
  stadium_network:
    external: true
    name: stadium-event-generator_stadium-network
  client_network:
    external: true
    name: client-broker_client-network
